appdirs==1.4.4; python_version >= "3.6"
appnope==0.1.3; platform_system == "Darwin" and python_version >= "3.7" and sys_platform == "darwin"
argon2-cffi-bindings==21.2.0; python_version >= "3.7"
argon2-cffi==21.3.0; python_version >= "3.7"
astroid==2.11.5; python_full_version >= "3.6.2"
astropy==4.3.1; python_version >= "3.7"
atomicwrites==1.4.0; python_version >= "3.5" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.5" and python_full_version >= "3.4.0"
attrs==21.4.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
autoreject==0.3; python_version >= "3.7" and python_version < "4.0"
backcall==0.2.0; python_version >= "3.7"
beautifulsoup4==4.11.1; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0"
black==19.10b0; python_version >= "3.6"
bleach==5.0.0; python_version >= "3.7"
certifi==2022.5.18.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
cffi==1.15.0; implementation_name == "pypy" and python_version >= "3.7"
charset-normalizer==2.0.12; python_full_version >= "3.6.0" and python_version >= "3.5"
click==8.1.3; python_version >= "3.7" and python_version < "4.0"
colorama==0.4.4; python_full_version >= "3.6.2" and platform_system == "Windows" and sys_platform == "win32" and python_version >= "3.5" and (python_version >= "3.7" and python_full_version < "3.0.0" and platform_system == "Windows" or platform_system == "Windows" and python_version >= "3.7" and python_full_version >= "3.5.0") and (python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.5.0")
cycler==0.11.0; python_version >= "3.7" and python_version < "4.0"
debugpy==1.6.0; python_version >= "3.7"
decorator==5.1.1; python_version >= "3.7"
defusedxml==0.7.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
dill==0.3.5.1; python_full_version >= "3.7.0"
entrypoints==0.4; python_version >= "3.7"
fastjsonschema==2.15.3; python_version >= "3.7"
fonttools==4.33.3; python_version >= "3.7" and python_version < "4.0"
ghp-import==2.1.0; python_version >= "3.6" and python_version < "4.0"
h5py==3.7.0; python_version >= "3.7"
idna==3.3; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5"
importlib-metadata==4.11.4; python_version == "3.7" and (python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "3.8" or python_full_version >= "3.4.0" and python_version >= "3.7" and python_version < "3.8")
importlib-resources==5.7.1; python_version < "3.9" and python_version >= "3.7"
ipykernel==6.13.0; python_version >= "3.7"
ipython-genutils==0.2.0; python_version >= "3.7"
ipython==7.34.0; python_version >= "3.7"
ipywidgets==7.7.0
isort==5.10.1; python_full_version >= "3.6.2" and python_version < "4.0"
jedi==0.18.1; python_version >= "3.7"
jinja2==3.1.2; python_version >= "3.7"
joblib==0.14.1
json5==0.9.8; python_version >= "3.5"
jsonschema==4.6.0; python_version >= "3.7"
jupyter-client==7.3.1; python_full_version >= "3.7.0" and python_version >= "3.7"
jupyter-core==4.10.0; python_version >= "3.7"
jupyterlab-pygments==0.2.2; python_version >= "3.7"
jupyterlab-server==1.2.0; python_version >= "3.5"
jupyterlab-widgets==1.1.0; python_version >= "3.6"
jupyterlab==2.3.2; python_version >= "3.5"
kiwisolver==1.4.2; python_version >= "3.7" and python_version < "4.0"
lazy-object-proxy==1.7.1; python_version >= "3.6" and python_full_version >= "3.6.2"
livereload==2.6.3
markdown-include==0.5.1
markdown==3.3.7; python_version >= "3.6" and python_version < "4.0" and (python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0")
markupsafe==2.1.1; python_version >= "3.7"
matplotlib-inline==0.1.3; python_version >= "3.7"
matplotlib==3.5.2; python_version >= "3.7"
mccabe==0.7.0; python_version >= "3.6" and python_full_version >= "3.6.2"
mergedeep==1.3.4; python_version >= "3.6" and python_version < "4.0"
meshio==4.4.6; python_version >= "3.6"
mistune==0.8.4; python_version >= "3.7"
mkdocs-material-extensions==1.0.3; python_version >= "3.6"
mkdocs-material==5.5.14
mkdocs==1.3.0; python_version >= "3.6"
mkdocstrings==0.10.3; python_version >= "3.6" and python_version < "4.0"
mne==0.24.0; python_version >= "3.7"
more-itertools==8.13.0; python_version >= "3.5"
nbclient==0.6.4; python_full_version >= "3.7.0" and python_version >= "3.7"
nbconvert==6.5.0; python_version >= "3.7"
nbformat==5.4.0; python_full_version >= "3.7.0" and python_version >= "3.7"
nest-asyncio==1.5.5; python_full_version >= "3.7.0" and python_version >= "3.7"
notebook==6.4.12; python_version >= "3.7"
numpy==1.21.1; python_version >= "3.7"
packaging==21.3; python_version >= "3.7" and python_version < "4.0"
pandas==1.1.5; python_full_version >= "3.6.1"
pandocfilters==1.5.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
parso==0.8.3; python_version >= "3.7"
pathspec==0.9.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
patsy==0.5.2; python_version >= "3.6"
pexpect==4.8.0; sys_platform != "win32" and python_version >= "3.7"
pickleshare==0.7.5; python_version >= "3.7"
pillow==9.1.1; python_version >= "3.7"
platformdirs==2.5.2; python_version >= "3.7" and python_full_version >= "3.6.2"
pluggy==0.13.1; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.5"
prometheus-client==0.14.1; python_version >= "3.7"
prompt-toolkit==3.0.29; python_full_version >= "3.6.2" and python_version >= "3.7"
psutil==5.9.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
ptyprocess==0.7.0; os_name != "nt" and python_version >= "3.7" and sys_platform != "win32"
py==1.11.0; python_version >= "3.7" and python_full_version < "3.0.0" and implementation_name == "pypy" or python_full_version >= "3.5.0" and python_version >= "3.7" and implementation_name == "pypy"
pycparser==2.21; python_version >= "3.7" and python_full_version < "3.0.0" and implementation_name == "pypy" or implementation_name == "pypy" and python_version >= "3.7" and python_full_version >= "3.4.0"
pyerfa==2.0.0.1; python_version >= "3.7"
pygments==2.11.0; python_version >= "3.5"
pylint==2.13.9; python_full_version >= "3.6.2"
pymdown-extensions==7.1; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0"
pyparsing==3.0.9; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.8"
pyqt5-qt5==5.15.2; python_version >= "3.6"
pyqt5-sip==12.10.1; python_version >= "3.7"
pyqt5==5.15.6; python_version >= "3.6"
pyrsistent==0.18.1; python_version >= "3.7"
pytest==5.4.3; python_version >= "3.5"
python-dateutil==2.8.2; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.1" and (python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.3.0") and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6") and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7")
pytkdocs==0.3.0; python_version >= "3.6" and python_version < "4.0"
pytz==2022.1; python_full_version >= "3.6.1" and python_version >= "3.6"
pywin32==304; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.7"
pywinpty==2.0.5; os_name == "nt" and python_version >= "3.7"
pyyaml-env-tag==0.1; python_version >= "3.6" and python_version < "4.0"
pyyaml==6.0; python_version >= "3.6"
pyzmq==23.1.0; python_version >= "3.7"
regex==2022.4.24; python_version >= "3.6"
requests==2.27.1; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5"
scikit-learn==1.0; python_version >= "3.7"
scipy==1.6.1; python_version >= "3.7"
send2trash==1.8.0; python_version >= "3.7"
setuptools-scm==6.4.2; python_version >= "3.7" and python_version < "4.0"
six==1.16.0; python_full_version >= "3.6.1" and python_version >= "3.7" and python_version < "4.0" and (python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.3.0") and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7")
soupsieve==2.3.2.post1; python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.6.0"
statsmodels==0.12.2; python_version >= "3.6"
terminado==0.15.0; python_version >= "3.7"
threadpoolctl==3.1.0; python_version >= "3.7" and python_version < "4.0"
tinycss2==1.1.1; python_version >= "3.7"
toml==0.10.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
tomli==2.0.1; python_version < "3.11" and python_full_version >= "3.6.2" and python_version >= "3.7"
tornado==6.1; python_version >= "3.7"
tqdm==4.64.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
traitlets==5.2.2.post1; python_full_version >= "3.7.0" and python_version >= "3.7"
typed-ast==1.5.4; implementation_name == "cpython" and python_version < "3.8" and python_full_version >= "3.6.2" and python_version >= "3.6"
typing-extensions==4.2.0; python_version == "3.7" and python_full_version >= "3.6.2"
urllib3==1.26.9; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0" and python_version < "4")
watchdog==2.1.8; python_version >= "3.6" and python_version < "4.0"
wcwidth==0.2.5; python_full_version >= "3.6.2" and python_version >= "3.7"
webencodings==0.5.1; python_version >= "3.7"
widgetsnbextension==3.6.0
wrapt==1.14.1; python_full_version >= "3.6.2"
zipp==3.8.0; python_version == "3.7"
hypyp==0.4.0b3
