appdirs==1.4.4
appnope==0.1.0; platform_system == "Darwin"
argon2-cffi==20.1.0
astroid==2.4.2
astropy==4.2
async-generator==1.10
atomicwrites==1.4.0; sys_platform == "win32"
attrs==20.3.0
autoreject==0.2.1
backcall==0.2.0
beautifulsoup4==4.9.3
black==19.10b0
bleach==3.2.1
certifi==2020.11.8
cffi==1.14.4
cffi==1.14.4; implementation_name === "pypy"
chardet==3.0.4
click==7.1.2
colorama==0.4.4; sys_platform == "win32"
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
future==0.18.2
idna==2.10
importlib-metadata==3.1.0; python_version < "3.8"
ipykernel==5.3.4
ipython-genutils==0.2.0
ipython==7.19.0
ipython==7.19.0; python_version >= "3.3"
ipywidgets==7.5.1
isort==5.6.4
jedi==0.17.2
jinja2==2.11.2
joblib==0.14.1
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.7.0
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
jupyterlab==2.2.9
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
livereload==2.6.3
lunr==0.5.8
markdown-include==0.5.1
markdown==3.3.3
markupsafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
meshio==4.3.6
mistune==0.8.4
mkdocs-material-extensions==1.0.1
mkdocs-material==5.5.14
mkdocs==1.1.2
mkdocstrings==0.10.3
mne==0.21.2
more-itertools==8.6.0
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
nltk==3.5; python_version > "2.7"
notebook==6.1.5
numpy==1.19.4
packaging==20.4
pandas==1.1.4
pandocfilters==1.4.3
parso==0.7.1
pathspec==0.8.1
patsy==0.5.1
pexpect==4.8.0; sys_platform != "win32"
pickleshare==0.7.5
pillow==8.0.1
pluggy==0.13.1
prometheus-client==0.9.0
prompt-toolkit==3.0.8
ptyprocess==0.6.0
ptyprocess==0.6.0; os_name != "nt"
py==1.9.0
py==1.9.0; implementation_name === "pypy"
pycparser==2.20
pyerfa==1.7.1.1
pygments==2.7.2
pylint==2.6.0
pymdown-extensions==7.1
pyparsing==2.4.7
pyqt5-sip==12.8.1
pyqt5==5.15.2
pyrsistent==0.17.3
pytest==5.4.3
python-dateutil==2.8.1
pytkdocs==0.3.0
pytz==2020.4
pywin32==300; sys_platform == "win32"
pywinpty==0.5.7; os_name == "nt"
pyyaml==5.3.1
pyzmq==20.0.0
regex==2020.11.13
requests==2.25.0
scikit-learn==0.22.2.post1
scipy==1.5.4
send2trash==1.5.0
six==1.15.0
soupsieve==2.0.1; python_version >= "3.0"
statsmodels==0.11.1
terminado==0.9.1
testpath==0.4.4
toml==0.10.2
tornado==6.1
tornado==6.1; python_version > "2.7"
tqdm==4.53.0
traitlets==5.0.5
typed-ast==1.4.1
typed-ast==1.4.1; implementation_name == "cpython" and python_version < "3.8"
urllib3==1.26.2
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
wrapt==1.12.1
zipp==3.4.0
